* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 640px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.info {
    height: 150px;
}

.turns {
    display: flex;
    font-weight: bold;
    font-size: 24px;
    margin: 20px;
}

.turn {
    flex-grow: 1;
}

.turn.turn-current {
    text-decoration: underline;
}

.turn:nth-child(2) {
    text-align: end;
}

#win-result {
    text-align: center;
    font-size: 26px;
}

#field {
    width: 640px;
    height: 640px;
    background-color: #966f54;
    padding: 0.05px;
}

#field-table {
    border: 2px solid #4d3420;
    margin: 40px;
    border-collapse: collapse;
    width: 560px;
    height: 560px;
}

#field-table td {
    border: 2px solid #4d3420;
    border-spacing: 0;
    padding: 0;
    position: relative;
}

.chip {
    border-radius: 17px;
    height: 34px;
    width: 34px;
    position: absolute;
    left: -18px;
    top: -18px;
    transition: background-color 0.2s ease;
    font-size: 0;
}

.chip:hover {
    background-color: rgba(255, 255, 255, 0.5);

}

.chip.last-in-row {
    right: -18px;
    left: inherit;
}

.chip.last-in-column {
    bottom: -18px;
    top: inherit;
}

.chip.black {
    background: radial-gradient(
            farthest-side at 34px 34px,
            #ffffff 0%,
            #000000 70%
    );
    box-shadow: -3px -3px 10px black;
}

.chip.white {
    background: radial-gradient(
            farthest-side at 34px 34px,
            #ffffff 0%,
            #d0cfcd 70%
    );
    box-shadow: -3px -3px 10px black;
}

.chip.red {
    background: radial-gradient(
            farthest-side at 34px 34px,
            #ffffff 0%,
            #961006 70%
    );
    box-shadow: -3px -3px 10px black;
}